# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log
log.txt

# Environment variables
.env

# Data artifacts (generated, never commit)
data/analytical/*.csv
data/business/*.csv
data/state/*.csv

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
